@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://shakil-lineuisvg.netlify.app/lineuisvg.css");

/* Font CSS */
@import "./FontCSS/anek-bangla.css";
@import "./FontCSS/tiro-banga.css";
@import "./FontCSS/apona-lohit.css";
@import "./FontCSS/alinur-tatsama.css";
@import "./FontCSS/alinur-borno-bikash.css";

body {
  background-color: #212529 !important;
}
.font-tester {
  height: 90px;
  background-image: url(./images/font-tester-bg.svg);
  display: flex;
  color: #ffffff;
  align-items: center;
  padding: 0 30px;
  border-radius: 15px;
  font-family: "Space Grotesk", "Hind Siliguri", sans-serif;
}
.font-input {
  width: 100%;
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
}
.form-range::-moz-range-thumb {
  background: linear-gradient(90deg, #c60b0d, #ff0f11) !important;
}
.font-box {
  background-color: #343a40;
  color: #ffffff;
  position: relative;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 30px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: "Space Grotesk", "Hind Siliguri", sans-serif;
}
.font-box-content {
  position: inherit;
  z-index: 2;
}
.c-shape {
  position: absolute;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: #212529;
  opacity: 0.3;
  top: -50px;
  left: -50px;
  z-index: 1;
}
.font-box-utility {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.font-box-utility button {
  border: none;
}
#preview {
  height: 60px;
}
.cdn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cdn-section button {
  background-color: transparent;
  font-size: 26px;
  border: none;
}
.lineui {
  color: #4ad295;
}
.lineui:hover {
  color: #ff0f11;
}
.card {
  background-color: transparent !important;
  border: none !important;
  padding: 10px 0 0 0 !important;
}
.link-cdn,
.import-cdn {
  background-color: #21252952;
  padding: 15px;
  border-radius: 10px;
}
.import-cdn {
  margin: 15px 0 0 0;
}
.link-cdn input,
.import-cdn input {
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.link-cdn i,
.import-cdn i {
  color: #ffffff;
  font-size: 24px;
}
.font-down-btn {
  background-color: #c52127;
  color: #ffffff;
  padding: 8px 20px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.btn-title {
  position: unset;
  z-index: 2;
}
.b-shape {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ff0f11;
  right: 0;
  bottom: -28px;
  z-index: 1;
}
.font-down-btn {
  text-decoration: none;
}
/* All Font Family */
.anek-bangla {
  font-family: "Anek Bangla";
}
.tiro-bangla {
  font-family: "Tiro Bangla";
}
.apona-lohit {
  font-family: "Apona Lohit";
}
.alinur-tatsama {
  font-family: "Alinur Tatsama";
}
.alinur-borno-bikash {
  font-family: "Alinur Borno Bikash";
}
