/* Hind Siliguri Font Face */
@font-face {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Hind-Siliguri/hind-siliguri-300.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0980-09FE, U+1CF7, U+1CFA, U+200C-200D, U+20B9,
    U+25CC;
}
@font-face {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Hind-Siliguri/hind-siliguri-400.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0980-09FE, U+1CF7, U+1CFA, U+200C-200D, U+20B9,
    U+25CC;
}
@font-face {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Hind-Siliguri/hind-siliguri-500.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0980-09FE, U+1CF7, U+1CFA, U+200C-200D, U+20B9,
    U+25CC;
}
@font-face {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Hind-Siliguri/hind-siliguri-600.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0980-09FE, U+1CF7, U+1CFA, U+200C-200D, U+20B9,
    U+25CC;
}
@font-face {
  font-family: "Hind Siliguri";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Hind-Siliguri/hind-siliguri-700.woff2) format("woff2");
  unicode-range: U+0964-0965, U+0980-09FE, U+1CF7, U+1CFA, U+200C-200D, U+20B9,
    U+25CC;
}
